@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Modelo.Entity.Autoridad>
@{
    ViewBag.Title = "Lista de Autoridades";
}
<h2>Autoridad</h2>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<p>
    <a id="btbNuevoAut" class="btn btn-primary btn-lg" data-target="#myModal" data-toggle="modal">Crear Nuevo</a>

</p>
@*<div class="well well-sm"><a class="btn btn-primary" href="~/Cliente/Create">Nuevo</a></div>table table-hover table-striped *@
<table class="table">
    <thead>

        <tr class="bg-primary">

            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().CODAUT)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DESAUT)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EMAAUT)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CARAUT)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ESTAUT)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.CODAUT</td>
                <td>@item.DESAUT</td>
                <td>@item.EMAAUT</td>
                <td>@item.CARAUT</td>
                <td>@item.ESTAUT</td>

                <td>

                    <a class="btnEditarAut btn" data-id="@item.CODAUT" href="#myModal" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn" asp-action="Delete" asp-route-id="@item.CODAUT" onclick="return confirm('Seguro quiere eliminar?');"><span class="glyphicon glyphicon-trash"></span></a>

                </td>
            </tr>
        }
    </tbody>

</table>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Autoridad</h3>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    Cargando...
                </div>

            </div>

        </div>
    </div>
</div>


